@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  background: linear-gradient(-40deg, #62a7ff 30%, #f7a9bf 70%);
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  width: 350px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 20px;
  padding: 30px;
  padding-top: 20px;
  /* 外陰影 */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2), 5px 10px 2px rgba(179, 128, 153, 0.3), 10px 15px 2px rgba(77, 77, 179, 0.3), 15px 20px 2px rgba(179, 128, 153, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2), 5px 10px 2px rgba(179, 128, 153, 0.3), 10px 15px 2px rgba(77, 77, 179, 0.3), 15px 20px 2px rgba(179, 128, 153, 0.3);
}

.addInput {
  background: #dfaccf;
  border-color: #777;
  border-width: 3px 3px 2px 4px;
  border-radius: 5% 70% 10% 40% / 95% 30% 20% 20%;
  position: relative;
  left: 7%;
}

.addButton {
  position: relative;
  left: 7%;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  margin-top: 10px;
  font-size: 20px;
}

button {
  background: none;
  border-color: #979;
  border-width: 3px 5px 3px 2px;
  border-radius: 90% 6% 93% 5% / 10% 94% 7% 95%;
  /* 傾斜 */
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  color: #555;
  font-size: 10px;
  width: 60px;
  margin: 10px 0 0;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
}

label {
  padding: 35px;
  padding-right: 30px;
  cursor: pointer;
}

#completedList label {
  text-decoration: line-through;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("https://alldata.sgp1.digitaloceanspaces.com/images/unchecked-checkbox-50.png");
  /*   background-image: url("https://img.icons8.com/fluency-systems-regular/96/000000/checked--v2.png");  */
  background-size: contain;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

input[type='checkbox']:checked + label::before {
  background-image: url("https://alldata.sgp1.digitaloceanspaces.com/images/checked-checkbox-50.png");
  /*   background-image: url("https://img.icons8.com/material-rounded/96/000000/checked--v1.png");  */
}

ul li {
  list-style-type: none;
  margin-left: -25px;
}

ul li:hover {
  display: block;
  background: rgba(200, 200, 200, 0.2);
}

/*--------------------------------------------------------*/
/*# sourceMappingURL=all.css.map */